<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= link_to "Edit", edit_task_path(task), remote: true, class: "btn btn-default" %></td>
    <td><%= link_to "Delete", task_delete_path(task), remote: true, class: "btn btn-danger" %></td>
  </tr>
<% end %>